.errorbox {
  position: absolute;
  z-index: 20;
  bottom: 0;

  width: 100%;
  height: 100px;

  background-color: #212b36;
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  cursor: pointer;
}
